@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.logo{
   width: 100%;
   height: 50px;
   display: flex;
   align-items: center;
   text-align: center;
}

.logo-img{
  width: 10%;
  height: 50px;
}

.navbar {
  background: #0000;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 10px;
}

.navbar a {
  color: #0F403C;
  text-decoration: none;
  padding: 14px 16px;
}

.navbar a:hover {
  background-color: #0F403C;
  color: #fff;
}
.search-input{
  border-bottom: 1px solid #333;
  border: none;
  outline: none;
}
.search-btn{
  background:transparent;
  color:#0F403C ;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0F403C;
  color: #fff;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
    display: none;
  }

  .navbar a.icon {
    float: right;
      display: block;
  }

  .navbar.responsive {
    flex-direction: column;
  }

 .navbar.responsive .icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: center;
    padding: 10px;
    }
    .search-button {
      padding: 5px 20px;
      font-size: 12px;
      color: #fff;
    }
    .search-btn{
      padding: 5px 20px;
      font-size: 12px;
      color: #0F403C;
    }
    .search-input{
       margin-left: 3%;
      font-size: 12px;
    }
  }
  @media screen and (max-width: 768px){
    .logo{
      width: 50%;
      height: 50px;
   }
   .logo-img{
     width: 50%;
     height: 50px;
   }
   .logo h2{
    display: none;
   }
    .search-input {
      font-size: 13px;
      padding: 5px 7px;
    }
    .search-btn{
      font-size: 20px;
      padding: 5px;
    }
  }
  
  .video-section {
    position: relative;
    height: 600px;
    overflow: hidden;
    background:linear-gradient(rgba(69, 69, 69, 0.5), #0F403C)
  }

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.video-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.video-content  h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #fff;
}

.video-content  p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #fff;
}
@media screen and (max-width: 320px){
  .video-content  h1 {
   color: #fff;
}

.video-content  p {
    color: #fff;
}
}
@media screen and (max-width: 768px){
  .video-content  h1 {
   color: #fff;
}

.video-content  p {
    color: #fff;
}
}

  .book-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #fff;
    color: #0F403C;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  .book-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #0F403C;
    transition: left 0.3s ease;
    z-index: -1;
  }
  .book-button:hover {
    color: #fff; 
    transform: translateX(5px); 
  }

  .book-button:hover::before {
    left: 0;
  }
  

  @media screen and (max-width: 768px) {
    .video-content  h1 {
      font-size: 36px;
    }

    .video-content  p {
      font-size: 16px;
    }

    .book-button {
      font-size: 18px;
    }
  }

  .booking-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
  }

  .hotel-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
  }

  .card {
    border: 2px solid #0F403C;
    border-radius: 5px;
    padding: 20px;
    width: 40%;
    text-align: center;
    margin: 10px;
  }

.card  .icon {
    font-size: 48px;
    margin-bottom: 10px;
    color: #939393;
    transition: .6s;
  }
  .card .icon:hover{
    color: #0F403C;
    transition: .6s;
  }

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

.card  p {
    font-size: 16px;
  }
  @media screen and (max-width:320px){
    .booking-container {
      display: flex;
      flex-direction: column !important;
      justify-content: space-around;
      width: 100%;
      margin: 0 auto;
    }
    .hotel-container {
      display: flex;
      flex-direction: column !important;
      justify-content: space-around;
      width: 100%;
      margin: 0 auto;
    }
  
    .card {
      width: 80%;
      height: 200px;
      margin-left: 10%;
      text-align: center;
    }

    .card  .icon {
      font-size: 40px;
      margin-bottom: 10px;
      color: #0F403C;
    }
  
  .card h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }
  
  .card  p {
      font-size: 10px;
    }
  }

  @media screen and (max-width: 768px){
    body, html{
      overflow-x: hidden;
    }
    .booking-container {
      display: flex;
      flex-direction: column !important;
      justify-content: space-around;
      width: 100%;
      margin: 0 auto;
    }
    .hotel-container {
      display: flex;
      flex-direction: column !important;
      justify-content: space-around;
      width: 100%;
      margin: 0 auto;
    }
    .card {
      width: 80%;
      height: 200px;
      margin-left: 10%;
      text-align: center;
    }

    .card  .icon {
      font-size: 40px;
      margin-bottom: 10px;
      color: #0F403C;
    }
  
  .card h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }
  
  .card  p {
      font-size: 10px;
    }
  }



  .travel-section {
    display: flex;
    align-items: center;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    margin-top: 3%;
    padding: 50px 20px;
    background: url(../images/white\ background.jpg);
    background-position: center;
    background-size: cover;
  }

 .travel-section  .text-content {
    flex: 1;
    padding-right: 40px;
  }

.travel-section .text-content h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }

.travel-section  .text-content p {
    font-size: 16px;
    line-height: 1.6;
  }

.travel-section .travel-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #0F403C;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 20px;
  }
  .travel-section .travel-button:hover{
    background-color: #fff;
    color: #0F403C;
    border: 2px solid #0F403C;
  }

  .travel-section  .image-container {
    flex: 1;
  }

  .travel-section .image-container img {
    max-width: 100%;
    height: 400px;
    margin-left: 3%;
    border-radius: 5px;
  }
  @media screen and (max-width:320px){
    
  .travel-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 540px;
    margin: 0 auto;
    margin-top: 3%;
    padding: 50px 20px;
  }


.travel-section .text-content h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

.travel-section  .text-content p {
    font-size: 10px;
    line-height: 1.6;
  }

.travel-section .travel-button {
    display: inline-block;
    padding: 6px 15px;
    background-color: #0F403C;
    color: #fff;
    text-decoration: none;
    font-size: 10px;
    border-radius: 5px;
    margin-top: 20px;
  }


  .travel-section  .image-container {
    flex: 1;
    width: 100%;
    align-items: center;
  }
  
  #travel-image{
    margin-top: 4%;
    width: 80%;
    margin-left: 10%;
    height: 190px! important;
  }
  }

  @media screen and (max-width: 768px) {
    body, html{
      overflow-x: hidden;
    }
    .travel-section {
      display: flex;
      flex-direction: column !important;
      align-items: center;
      width: 100%;
      height: 540px;
      margin: 0 auto;
      margin-top: 3%;
      padding: 50px 20px;
    }
  
    .text-content {
      padding-right: 0;
      text-align: center;
    }

    .travel-section .text-content h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }
  
  .travel-section  .text-content p {
      font-size: 10px;
      line-height: 1.6;
    }
  
  .travel-section .travel-button {
      display: inline-block;
      padding: 6px 15px;
      background-color: #0F403C;
      color: #fff;
      text-decoration: none;
      font-size: 10px;
      border-radius: 5px;
      margin-top: 10px !important;
    }
  
  
    .travel-section  .image-container {
      flex: 1;
      width: 100%;
      align-items: center;
    }
    
    #travel-image{
      margin-top: 4%;
      width: 80%;
      margin-left: 10%;
      height: 300px;
    }
  }

  .country-section {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #f6f6f6;
    width: 100%;
    height: 510px;
}

.country-card {
    flex: 1;
    margin: 15px;
    background: #fff;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.country-card img {
  width: 100%;
  height: 350px;
}

.country-card:hover{
  transform: scale(1.1);
  transition: 0.5s;
  width: 100%;
  cursor: pointer;
}
.country-card-content {
  margin: 10px;
  margin-top: 15px;
  text-align: left;
}
.country-card-content span{
  color: #ff7b00;
}
.country-card-content #circle{
  font-size: 6px;
  margin-right: 3%;
}
.country-card-content p{
  color: #6b6b6b;
}
@media screen and (max-width: 320px){
  .country-section {
    flex-direction: column;
    height: 1500px;
}
}
@media screen and (max-width: 768px){
  .country-section {
    flex-direction: column;
    height: 1500px;
}
  
  .country-card{
    width: 90%;
    margin-left: 5%;
  }
}

  .mission-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
  }

 .mission-section  .text-left, .text-right {
    flex: 1;
  }

.mission-section  .text-left {
    margin-right: 20px;
  }

.mission-section  .text-right {
    margin-left: 20px;
  }

 .mission-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

 .mission-section p {
    font-size: 16px;
    line-height: 1.6;
  }
   @media screen and (max-width:320px){
    .mission-section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      margin: 0 auto;
      padding: 50px;
    }

  .mission-section  .text-right {
      margin-left: 15px;
    }
  
   .mission-section h2 {
      font-size: 15px;
    }
  
   .mission-section p {
      font-size: 10px;
      line-height: 1.6;
    }
   }

  @media screen and (max-width: 768px) {
    .mission-section {
      flex-direction: column;
    }

    .text-left, .text-right {
      margin: 0;
    }

    .text-left {
      order: 2;
    }

    .text-right {
      order: 1;
    }
  }

  .sumer-section {
    width: 100%;
    margin: 0 auto;
    padding: 50px;
  }

  .summer-text{
    text-align: left;
    height: 180px;
    background: url(../images/white\ corner.jpg);
    background-position: center;
    background-size: cover;
  }

  .summer-text  h2 {
    font-size: 24px;
    margin-left: 3%;
    color: #0F403C;
  }
  .summer-text  h1 {
    font-size: 30px;
    margin-left: 3%;
  }

  .summer-text  p {
    font-size: 16px;
    line-height: 1.6;
    margin-left: 3%;
  }
  @media screen and (max-width:320px){
    .summer-text  h2 {
      font-size: 20px;
      margin-left: 3%;
      color: #0F403C;
    }
    .summer-text  h1 {
      font-size: 20px;
      margin-left: 3%;
    }
  
    .summer-text  p {
      font-size: 10px;
      line-height: 1.6;
      margin-left: 3%;
    }
  }

  @media screen and (max-width: 768px){
    .summer-text  h2 {
      font-size: 20px;
      margin-left: 3%;
      color: #0F403C;
    }
    .summer-text  h1 {
      font-size: 20px;
      margin-left: 3%;
    }
  
    .summer-text  p {
      font-size: 14px;
      line-height: 1.6;
      margin-left: 3%;
    }
  }
  .packages-container {
    display: flex;
    justify-content: space-between;
    background: #f6f6f6;
    width: 100%;
    height: 700px;
    margin: 0 auto;
    padding: 10px;
  }
  .packages-carrier {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 700px;
    margin: 0 auto;
    padding: 10px;
    background: #f6f6f6;
  }

  .packages-card {
    margin: 50px;
    padding: 10px;
    width: 45%;
    background: #ffff;
  }
  .packages-card h2, p{
    color: #333;
  }


  .slideshow-container {
    max-width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
  }

  .slideshow-images {
    display: flex;
    animation: slide 30s infinite;
  }

  .slideshow-images img {
    width: 100%;
    max-height: 100%;
    height: 300px;
    object-fit: cover;
}

  @keyframes slide {
    0%  { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }

  .packages-text {
    padding-top: 20px;
    color: #fff;
  }

  .packages-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .packages-text  p {
    font-size: 16px;
    line-height: 1.6;
  }
@media screen and (max-width:320px){
  .packages-container {
    flex-direction: column;
    width: 100%;
    height: 800px! important;
  }
  .packages-carrier {
    flex-direction: column;
    width: 100%;
    height: 800px! important;
  }

  .packages-card {
    width: 90%;
    height: 600px;
    margin-left: 5%;
  }
  .slideshow-container {
    max-width: 100%;
    height: 100px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
  }
  .packages-text {
    padding-top: 20px;
    color: #fff;
  }

  .packages-text h2 {
    font-size: 10px;
    margin-bottom: 0px;
  }

  .packages-text  p {
    font-size: 6px;
    line-height: 1.6;
  }
}
@media screen and (max-width: 768px){
  .packages-container {
    flex-direction: column;
    justify-content: space-between;
    height: 1300px;
  }
  .packages-carrier{
    flex-direction: column;
    justify-content: space-between;
    height: 1500px;
  }
  .packages-card {
    width: 90%;
    height: 500px;
    margin-left: 5%;
  }

  .packages-text h2 {
    font-size: 20px;
    margin-bottom: 0px;
  }

  .packages-text  p {
    font-size: 11px;
    line-height: 1.6;
  }

}
  .youtube {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background:linear-gradient(rgba(69, 69, 69, 0.5), #0F403C), url(../images/business.jpg);
    background-position: center;
    background-size: cover;
  }

  .youtube-text {
    text-align: center;
  }

  .youtube-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
  }

  .youtube-text p {
    font-size: 10px;
    padding: 10px;
  }
  .youtube #youtube{
      background: red;
      border: none;
      padding: 10px 30px;
      border-radius: 20px;
  }
  .youtube a{
    color: #fff;
    text-decoration: none;
  }
  @media screen and (max-width:320px){
    .youtube {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 250px;
      background:linear-gradient(rgba(69, 69, 69, 0.5), #0F403C), url(/images/business.jpg);
      background-position: center;
      background-size: cover;
    }
  
    .youtube-text {
      text-align: center;
    }
  
    .youtube-text h2 {
      font-size: 18px;
      margin-bottom: 10px;
      color: #fff;
    }
  
    .youtube-text p {
      font-size: 10px;
      padding: 10px;
    }
    .youtube #youtube{
        background: red;
        border: none;
        padding: 10px 30px;
        border-radius: 20px;
    }
  }

 .testimonial-topic{
  width: 100%;
  height: 80px;
  margin-top: 3%;
 }
 .testimonial-topic h2{
  text-align: center;
  color: #0F403C;
 }
 .testimonial-topic p{
  text-align: center;
  font-size: 25px;
 }
 @media screen and (max-width:320px){
    .testimonial-topic{
      height: 60px;
    }
    .testimonial-topic h2{
      text-align: center;
      color: #0F403C;
      font-size: 20px;
     }
     .testimonial-topic p{
      text-align: center;
      font-size: 15px;
     }
 }
 
  .testimonial-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
  }

  .testimonial-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 30%;
  }

  .testimonial-card p {
    font-size: 16px;
    line-height: 1.6;
  }

  .testimonial-name {
    font-weight: bold;
    margin-top: 10px;
  }

  .testimonial-designation {
    font-style: italic;
    margin-bottom: 10px;
  }
  @media screen and (max-width: 320px){
    .testimonial-section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      margin: 0 auto;
      padding: 20px;
    }
     
    .testimonial-card {
      border: 2px solid #ccc;
      border-radius: 5px;
      padding: 20px;
      width: 90%;
      height: 150px;
      margin: 10px;
    }
    .testimonial-card p {
      font-size: 10px;
      line-height: 1.6;
    }
  
    .testimonial-name {
      font-weight: bold;
      margin-top: 10px;
      font-size: 13px;
    }
  
    .testimonial-designation {
      font-style: italic;
      margin-bottom: 10px;
      font-size: 12px;
    }
  
  }
  @media screen and (max-width: 768px){
    .testimonial-section {
      flex-direction: column;
    }
    .testimonial-card{
      width: 90%;
      margin-left: 5%;
      margin: 20px;
    }
  }

  .globe{
    width: 100%;
    height: 800px;
  }
  .globe .world-map{
    width: 100%;
    height: 800px;
  }
  @media screen and (max-width: 320px){
    .globe{
      width: 100%;
      height: 200px;
    }
    .globe .world-map{
      width: 100%;
      height: 200px;
    }
  }


.footer {
  background-color: #000;
  color: #fff;
  padding: 30px 0;
}

.footer h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.footer p {
  font-size: 14px;
  color: #b4b4b4;
}

.footer-bottom {
  background-color: #222;
  padding: 10px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 12px;
  color: #fff;
}
.footer-bottom a{
  color: #fff;
}

/* Social Icons */
.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons a {
  color: #fff;
  font-size: 18px;
}

/* Newsletter Form */
.newsletter-form {
  margin-top: 10px;
}

.newsletter-form input[type="email"] {
  padding: 8px;
  width: 200px;
  border: 1px solid #fff;
}

.newsletter-form button {
  padding: 8px 15px;
  background-color: #0F403C;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Media Queries for Responsiveness */
@media (max-width: 767px) {
  .footer h3 {
    font-size: 18px;
  }

  .footer p {
    font-size: 13px;
  }

  .newsletter-form input[type="email"] {
    width: 100%;
  }
}

.about{
  width: 100%;
  height: 400px;
  background:linear-gradient(rgba(0,0,0,0.5),#2f2f2f41), url(../images/about\ bacc\ 1.jpeg );
  background-position: center;
  background-size: cover;
}

.about h2{
  color: #fff;
  text-align: center;
  margin-top: 8%;
  font-size: 50px;
}
.about p{
  text-align: center;
  color: #fff;
}
.about a{
  color: #fff;
  text-decoration: none;
}
.about a:hover{
  background-color: #0F403C;
  color: #fff;
}
@media screen and (max-width:280px){
  .logo{
    width: 60%;
    height: 50px;
 }
 .logo-img{
   width: 60%;
   height: 50px;
 }
}

@media screen and (max-width:320px){
  .about{
    width: 100%;
    height: 200px;
  }
  .about h2{
    font-size: 5px;
  }
}
@media screen and (max-width: 7680px){
  .search-button {
    padding: 5px 20px;
    font-size: 12px;
    color: #fff;
  }
  .about{
    width: 100%;
    height: 400px;
  }
  .about h2{
    font-size: 40px;
  }
}
.about-container{
  display: flex;
  width: 100%;
  height: 450px;
  /* justify-content: space-between; */
  padding: 10px;
}
.about-image{
  width: 49%;
  height: 400px;
  margin: 10px;
}
.about-text{
  width: 49%;
  height: 400px;
  margin: 10px;
}
.about-image img{
  width: 100%;
  height:400px;
}
@media screen and (max-width: 280px){
  .about-container{
    display: flex;
    width: 100%;
    height: 580px! important;
    /* justify-content: space-between; */
    padding: 10px;
  }
  .about-image{
    width: 49%;
    height: 120px! important;
    margin: 10px;
  }
  .about-image img{
    width: 100%;
    height: 120px! important;
  }
  
}

@media screen and (max-width: 320px){
  .about-container{
    display: flex;
    flex-direction: column;
    height: 590px;
  }
  .about-image{
    width: 95%;
    height: 200px;
    margin-left: 2.5%;
  }
  .about-image img{
    width: 100%;
    height:200px;
  }
  .about-text{
    width: 95%;
    height: 330px;
    margin-left: 2.5%;
  }
  .about-text p{
    font-size: 10px;
  }
}
@media screen and (max-width:768px){
  .about-container{
    display: flex;
    flex-direction: column;
    height: 700px;
  }
  .about-image{
    width: 90%;
    height: 300px;
    margin-left: 5%;
  }
  .about-image img{
    width: 100%;
    height:300px;
  }
  .about-text{
    width: 90%;
    height: 330px;
    margin-left: 5%;
    font-size: 11px;
  }
}

.philosophy-section {
  background-color: #e1e1e1;
  padding: 20px;
}

.philosophy-text {
  font-size: 15px;
  line-height: 1.6;
  color: #333;
  padding: 20px;
}

@media screen and (max-width: 280px){
   .philosophy-section{
    width: 100%;
    height: 510px! important;
   }
}

@media screen and (max-width:320px){
  .philosophy-section {
   width: 100%;
   height: 420px;
  }
  .philosophy-section h3{
    font-size: 12px;
  }
  .philosophy-section p{
    font-size: 10px;
  }
  .philosophy-section ul{
    font-size: 10px;
  }
}


.header-values {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
}
.core-values {
  padding: 30px;
  display: flex;
  margin: 20px;
  justify-content: center;
}

.values-container {
  display: flex;
  justify-content: space-between;
}

.values-card {
  width: calc(50% - 10px);
  background-color: #f0f0f0;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.values-image {
  flex: 1;
  max-width: 200px;
  margin-right: 20px;
}

.values-image img {
  max-width: 100%;
  height: auto;
}

.values-content {
  flex: 2;
}

.values-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.values-text {
  margin-bottom: 10px;
}

.card-button {
  background-color: #0F403C;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}
.card-button:hover{
  background: #fff;
  color: #0F403C;
  border: 1px solid #0F403C;
}
@media screen and (max-width: 280px){
   .header-values{
    font-size: 15px! important;
   }
   .core-values {
    padding: 5px;
    display: flex;
    margin: 0px;
    width: 100%;
    justify-content: center;
  }
  
   .values-container {
    flex-direction: column;
    margin: 10px;
  }
  .values-card {
    width:90%! important;
   height: 130px! important;
   margin-left: 0%;
  }
  .values-title {
    font-size: 10px!important;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .card-button {
   font-size: 10px!important;
    padding: 5px 10px;
  }
}

@media screen and (max-width:320px){
  .header-values{
    font-size: 15px! important;
   }
   .core-values {
    padding: 5px;
    display: flex;
    margin: 0px;
    width: 100%;
    justify-content: center;
  }
  
   .values-container {
    flex-direction: column;
    margin: 10px;
  }
  .values-card {
    width:90%! important;
   height: 130px! important;
   margin-left: 0%;
  }
  .values-title {
    font-size: 10px!important;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .card-button {
   font-size: 10px!important;
    padding: 5px 10px;
  }
}
@media screen and (max-width: 768px){
  .header-values {
    font-size: 25px;
  }
  .values-container {
    flex-direction: column;
  }
  .values-card {
    width:80%;
   height: 180px;
   margin-left: 10%;
  }
  .values-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .card-button {
   font-size: 20px;
    padding: 8px 16px;
  }
}

.deals{
  width: 100%;
  height: 450px;
}
.deals-travel{
  width: 50%;
  height: 450px;
  background: url(../images/Untitled-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  float: left;
}
.deals-image{
  width: 50%;
  height: 450px;
  background:linear-gradient(rgba(0,0,0,0.5), #f8f8f8), url(../images/deals\ image.jpeg);
  background-position: center;
  background-size: cover;
  float: right;
}
.deals-travel h3{
  color: #fff;
  font-family: arial;
  margin-top: 10%;
  font-size: 30px;
  text-align: center;
}

.deals-travel .btn{
  margin-top: 9%;
  margin-left: 10%;
  background: transparent;
  padding: 60px 50px;
  border: 7px solid #ffffff;
  border-radius: 200px;
  float: left;
}
.deals-travel h4{
  color: #fff;
  font-size: 20px;
}
.deals-travel .tour{
  margin-top: 9%;
  margin-right: 17%;
  background: transparent;
  padding: 64px 60px;
  border: 7px solid #ffffff;
  border-radius: 200px;
  float: right;
}
@media screen and (max-width: 280px){
  .deals{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px! important;
  }
  .deals-travel{
    width: 100%! important;
    height: 250px! important;
    background: url(../images/Untitled-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .deals-image{
    width: 100%! important;
    height: 250px! important;
    background:linear-gradient(rgba(0,0,0,0.5), #2f2f2f41), url(../images/deals.jpeg);
  }
  .deals-travel h3{
    color: #fff;
    font-family: arial;
    margin-top: 10%;
    font-size: 10px! important;
    text-align: center;
  }
  
  .deals-travel .btn{
    margin-top: 9%;
    margin-left: 10%;
    background: transparent;
    padding: 5px 7px;
    border: 7px solid #ffffff;
    border-radius: 200px;
  }
  .deals-travel h4{
    color: #fff;
    font-size: 20px;
    font-size: 12px! important;
  }
  .deals-travel .tour{
    margin-top: 9%;
    margin-right: 17%;
    background: transparent;
    padding: 6px 10px;
    border: 7px solid #ffffff;
    border-radius: 200px;
    float: right;
}
}

@media screen and (max-width: 320px){
  .deals{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px! important;
  }
  .deals-travel{
    width: 100%! important;
    height: 250px! important;
    background: url(../images/Untitled-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .deals-image{
    width: 100%! important;
    height: 250px! important;
    background:linear-gradient(rgba(0,0,0,0.5), #2f2f2f41), url(../images/deals.jpeg);
  }
  .deals-travel h3{
    color: #fff;
    font-family: arial;
    margin-top: 10%;
    font-size: 10px! important;
    text-align: center;
  }
  
  .deals-travel .btn{
    margin-top: 9%;
    margin-left: 10%;
    background: transparent;
    padding: 5px 7px;
    border: 7px solid #ffffff;
    border-radius: 200px;
  }
  .deals-travel h4{
    color: #fff;
    font-size: 20px;
    font-size: 12px! important;
  }
  .deals-travel .tour{
    margin-top: 9%;
    margin-right: 17%;
    background: transparent;
    padding: 6px 10px;
    border: 7px solid #ffffff;
    border-radius: 200px;
    float: right;
}
}
@media screen and (max-width: 768px){
  .deals-travel h3{
    font-size: 20px! important;
  }
  
  .deals-travel .btn{
    padding: 30px 30px;
  }
  .deals-travel h4{
    color: #fff;
    font-size: 20px;
    font-size: 12px! important;
  }
  .deals-travel .tour{
    padding: 30px 30px;
}
}

.partners{
  width: 100%;
  height: 60px;
}
.partners h2{
  font-family: arial;
  text-align: center;
  margin-top: 3%;
  font-size: 35px;
}
.partners-logo{
  width: 100%;
  height: 160px;
  background: #e9e9e9;
}
.partners-logo #cbg{
  float: left;
  width: 20%;
  height: 150px;
}
.partners-logo #foreign{
  width: 18%;
  height: 100px;
  margin-top: 2%;
}
.partners-logo #gipc{
  width: 18%;
  height: 100px;
  position: absolute;
  margin-top: 2%;  
  margin-left: 2%;
}
.partners-logo #motac{
  width: 18%;
  height: 100px;
  position: absolute;
  margin-top: 2%;  
  margin-left: 22%;
}
.partners-logo #gotg{
  width: 18%;
  height: 100px;
  position: absolute;
  margin-top: 2%;  
  margin-left: 40%;
}
@media screen and (max-width: 320px){
  .partners{
    width: 100%;
    height: 30px;
  }
  .partners h2{
    font-family: arial;
    text-align: center;
    margin-top: 3%;
    font-size: 20px;
  }
  .partners-logo{
    width: 100%;
    height: 80px;
    background: #e9e9e9;
}
.partners-logo #cbg{
  float: left;
  width: 20%;
  height: 80px;
}
.partners-logo #foreign{
  width: 18%;
  height: 60px;
  margin-top: 2%;
}
.partners-logo #gipc{
  width: 18%;
  height: 45px;
  position: absolute;
  margin-top: 2%;  
  margin-left: 2%;
}
.partners-logo #motac{
  width: 18%;
  height: 50px;
  position: absolute;
  margin-top: 2%;  
  margin-left: 22%;
}
.partners-logo #gotg{
  width: 18%;
  height: 50px;
  position: absolute;
  margin-top: 2%;  
  margin-left: 40%;
}
}

.services{
  width: 100%;
  height: 400px;
  background:linear-gradient(rgba(0,0,0,0.5),#2f2f2f41), url(../images/services\ bacc.jpeg );
  background-position: center;
  background-size: cover;
}

.services h2{
  color: #fff;
  text-align: center;
  margin-top: 8%;
  font-size: 50px;
}
.services p{
  text-align: center;
  color: #fff;
}
.services a{
  color: #fff;
  text-decoration: none;
}
.services a:hover{
  background-color: #0F403C;
  color: #fff;
}
@media screen and (max-width: 280px){
  .services{
  width: 100%;
  height: 300px;
}

.services h2{
  color: #fff;
  text-align: center;
  margin-top: 8%;
  font-size: 30px;
}
}
  
.explore{
  width: 100%;
  height: 220px;
  margin-top: 3%;
}
.explore-content{
  width: 95%;
  height: 220px;
  margin-left: 2.5%;
}
@media screen and (max-width: 280px){
  .explore-content{
    width: 95%! important;
    margin-left: 2.5%! important;
    font-size: 10.5px! important;
  }
}

@media screen and (max-width: 320px){
  .explore-content{
    width: 95%! important;
    margin-left: 2.5%! important;
    font-size: 10.5px! important;
  }
}

@media screen and (max-width: 768px){
  .explore{
    width: 100%;
    height: 350px;
  }
  .explore-content{
    width: 95%;
    height: 340px;
    margin-left: 2.5%;
    font-size: 13px;
  }
}

.offer{
  padding: 30px;
  display: flex; 
  flex-wrap: wrap; 
}


.offer h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  flex-basis: 100%; 
}

.offer-card {
  background-color: #495338;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  flex-basis: calc(33.33% - 20px); 
  margin-bottom: 20px;
}

.offer-card h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

.offer-card p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #000000;
}

.offer-card button {
  background: transparent;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.offer-card button:hover {
  background-color: #000;
  color: #fff;
}
@media screen and (max-width: 280px){
  .offer{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .offer h2{
    font-size: 15px;
  }
}
@media screen and (max-width:320px){
  .offer{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .offer h2{
    font-size: 15px;
  }
  .offer-card{
    width: 80%! important;
  }
}
@media screen and (max-width: 768px){
  .offer{
    padding: 30px;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap; 
  }
  .offer-card{
    width: 95%! important;
    margin-left: 2.5%;
  }
}


.reservation{
  width: 100%;
  height: 400px;
  background:linear-gradient(rgba(0,0,0,0.5),#2f2f2f41), url(../images/reservation\ bacc.jpeg);
  background-position: center;
  background-size: cover;
}

.reservation h2{
  color: #fff;
  text-align: center;
  margin-top: 8%;
  font-size: 50px;
}
.reservation p{
  text-align: center;
  color: #fff;
}
.reservation a{
  color: #fff;
  text-decoration: none;
}
.reservation a:hover{
  background-color: #0F403C;
  color: #fff;
}

.reservation-signup{
  width: 100%;
  height: 650px;
  margin-top: 3%;
}

.login{
 width: 40%;
 height: 600px;
 float: left;
 margin-left:4%;
 margin-bottom: 2%;
 background: rgb(208, 208, 208);
}

.logreg-box .form-box{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 45%;
 height: 600px;
 backdrop-filter: blur(20px);
 border-top-right-radius: 10px;
 border-bottom-right-radius: 10px;
 color: #000000;
}
.form-box h2{
 font-size: 32px;
 text-align: center;
 font-family: arial;
}
.form-box .input-box{
 position: relative;
 width: 340px;
 height: 50px;
 border-bottom: 2px solid #000000;
 margin: 30px 0;
}
.input-box input{
 width: 100%;
 height: 100%;
 background: transparent;
 border: none;
 outline: none;
 font-size: 16px;
 color: #000000;
 font-weight: 500;
 padding-right: 28px;
}
.input-box label{
 position: absolute;
 top: 50%;
 left: 0;
 transform: translateY(-50%);
 font-size: 16px;
 font-weight: 500;
 font-family: arial;
 pointer-events: none;
 transition: .5s ease;
}
.input-box input:focus~label,
.input-box input:valid~label{
 top: -5px;
}

.input-box .icon{
 position: absolute;
 top: 13px;
 right: 0;
 font-size: 19px;
 font-family: arial;
}

.form-box .remember-forgot{
 font-size: 14.5px;
 font-family: arial;
 margin: -15px 0 15px;
 display: flex;
 justify-content: space-between;

}
.remember-forgot label input{
 accent-color: #000000;
 margin-right: 3px;
}
.remember-forgot a{
 color: #000000;
 text-decoration: none;
}
.remember-forgot a:hover{
 text-decoration: underline;
}
.botton{
 width: 100%;
 height: 45px;
 background: #0F403C;
 outline: none;
 border: none;
 border-radius: 4px;
 cursor: pointer;
 font-size: 16px;
 color: #fff;
 font-weight: 500;
 box-shadow: 0 0 10px rgb(0, 0, 0, .5);
}
.form-box .login-register{
 font-size: 13px;
 font-weight: 500;
 font-family: arial;
 text-align: center;
  margin-top: 25px;
}
.login-register p a{
 color: #000000;
 font-weight: 600;
 text-decoration: none;
}
.login-register p a:hover{
 text-decoration: underline;
}

.reservation-signup .img{
 width: 45%;
 height: 600px;
 margin-left: 3%;
 border-radius: 10px;
}
@media screen and (max-width: 280px){
  .reservation{
    height: 300px;
  }
  .reservation h2{
    font-size: 30px;
  }
  
  .reservation-signup{
    display: flex;
    flex-direction: column;
    height: 700px;
  }
  .login{
    width: 90%! important;
    height: 330px! important;
    float: left;
    margin-left:5%;
   }

   .logreg-box .form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%! important;
    height: 330px! important;
   }
   .form-box h2{
    font-size: 20px;
   }
   .form-box .input-box{
    position: relative;
    width: 80%! important;
    height: 50px;
    margin-left: 10%;
   }
   .form-box .remember-forgot{
    font-size: 12px;
   }
   .reservation-signup .img{
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
   }
 }
 @media screen and (max-width: 320px){
  .reservation{
    height: 300px;
  }
  .reservation h2{
    font-size: 30px;
  }
  
  .reservation-signup{
    display: flex;
    flex-direction: column;
    height: 700px;
  }
  .login{
    width: 90%! important;
    height: 330px! important;
    float: left;
    margin-left:5%;
   }

   .logreg-box .form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%! important;
    height: 330px! important;
   }
   .form-box h2{
    font-size: 20px;
   }
   .form-box .input-box{
    position: relative;
    width: 80%! important;
    height: 50px;
    margin-left: 10%;
   }
   .form-box .remember-forgot{
    font-size: 12px;
   }
   .reservation-signup .img{
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
   }
 }
 @media screen and (max-width: 768px){
  .reservation{
    height: 500px;
  }
  .reservation h2{
    font-size: 30px;
  }
  
  .reservation-signup{
    display: flex;
    flex-direction: column;
    height: 770px;
  }
  .login{
    width: 90%! important;
    height: 330px! important;
    float: left;
    margin-left:5%;
   }

   .logreg-box .form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%! important;
    height: 350px! important;
   }
   .form-box h2{
    font-size: 20px;
   }
   .form-box .input-box{
    position: relative;
    width: 80%! important;
    height: 50px;
    margin-left: 10%;
   }
   .form-box .remember-forgot{
    font-size: 12px;
   }
   .reservation-signup .img{
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
   }
 }

.contact{
  width: 100%;
  height: 400px;
  background:linear-gradient(rgba(0,0,0,0.5),#2f2f2f41), url(../images/contact\ bacc.jpeg);
  background-position: center;
  background-size: cover;
}

.contact h2{
  color: #fff;
  text-align: center;
  margin-top: 8%;
  font-size: 50px;
}
@media screen and (max-width: 280px){
  .contact{
    height: 300px;
  }
  
  .contact h2{
    color: #fff;
    text-align: center;
    margin-top: 8%;
    font-size: 30px;
  }
}
@media screen and(max-width: 320px){
  .contact{
    height: 200px! important;
  }
  
  .contact h2{
    color: #fff;
    text-align: center;
    margin-top: 8%;
    font-size: 20px! important;
  }
}
@media screen and (max-width: 768px){
  .contact{
    height: 450px;
  }
}
.contact p{
  text-align: center;
  color: #fff;
}
.contact a{
  color: #fff;
  text-decoration: none;
}
.contact a:hover{
  background-color: #0F403C;
  color: #fff;
}

.contact-content{
  width: 100%;
  height: 230px;
  padding: 20px;
}
.contact-card {
  display: inline-block;
  background: #0F403C;
  padding: 10px;
  text-align: center;
  width: 30%;
  height: 180px;
  margin: 0 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-text {
    font-size: 25px;
    color: #fff;
    font-weight: 900;
}
.contact-text p{
  color: #fff;
  font-weight: 500;
}

@media screen and (max-width: 280px){
  .contact-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px! important;
    padding: 10px;
  }
  .contact-card {
      background: #0F403C;
      padding: 5px;
      text-align: center;
      width: 90%;
      height: 100px! important;
      margin: 0 1rem! important;

  }
  .contact-card .icon {
      font-size: 20px;
      margin-bottom: 10px;
      color: #fff;
  }
  
  .contact-text {
      font-size: 10px;
      color: #fff;
  }
}
@media screen and (max-width: 320px){
  .contact-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px! important;
    padding: 10px;
  }
  .contact-card {
      background: #0F403C;
      padding: 5px;
      text-align: center;
      width: 90%;
      height: 100px! important;
      margin: 10px;
  }
  .contact-card .icon {
      font-size: 20px;
      margin-bottom: 10px;
      color: #fff;
  }
  
  .contact-text p {
      font-size: 10px;
      color: #fff;
  }
}
@media screen and (max-width: 768px){
  .contact-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px! important;
    padding: 10px;
  }
  .contact-card {
      background: #0F403C;
      padding: 5px;
      text-align: center;
      width: 90%;
      height: 100px;
      margin: 10px;

  }
  .contact-card .icon {
      font-size: 20px;
      margin-bottom: 10px;
      color: #fff;
  }
  
  .contact-text p{
      font-size: 10px;
      color: #fff;
  }
}

.feedback{
  width: 100%;
  height: 600px;
}
.feedback .message{
  width: 95%;
  height: 550px;
  float: left;
  margin-left: 2.5%;
  margin-top: 25px;
}
.feedback .message h2{
  font-family: arial;
  text-align: center;
  color: #0F403C;
  font-size: 35px;
  margin-top: 3%;
}

.form-group{
  margin-left: 3%;
  margin-right: 10px;
  padding: 10px;
}
#exampleInputEmail1{
  width: 100%;
  height: 30px;
  margin-top: 1%;
  background: #f0f0f0;
  border: 1px solid #939393;
}
#exampleInputText{
  width: 100%;
  height: 30px;
  margin-top: 1%;
  background: #f0f0f0;
  border: 1px solid #939393;
}

#FormControlTextArae1{
  width: 100%;
  height: 70px;
  margin-top: 1%;
  background: #f0f0f0;
  border: 1px solid #939393;  
}

.submit-btn{
  background: #0F403C;
  margin-left: 3.5%;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border: none;
  border-radius: 3px;
}

.contact-map{
  width: 95%;
  margin-left: 2.5%;
  height: 400px;
  margin-top: 9%;
}

.blog{
  width: 100%;
  height: 400px;
  background:linear-gradient(rgba(0,0,0,0.5),#2f2f2f41), url(../images/blog\ bacc.jpeg);
  background-position: center;
  background-size: cover;
}
.blog h2{
  color: #fff;
  text-align: center;
  margin-top: 8%;
  font-size: 50px;
}
@media screen and (max-width: 280px){
  .blog{
    height: 430px;
  }
  
  .blog h2{
    color: #fff;
    text-align: center;
    margin-top: 8%;
    font-size: 30px;
  }
}
@media screen and (max-width: 320px){
  .blog {
    height: 360px! important;
  }
  
 .blog h2{
  font-size: 22px;
 }
}
.blog p{
  text-align: center;
  color: #fff;
}
.blog a{
  color: #fff;
  text-decoration: none;
}
.blog a:hover{
  background-color: #0F403C;
  color: #fff;
}
 
.sorting-section {
  padding: 15px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #f6f6f6;
}

.sorting-dropdown {
  margin-right: 20px;
}
#sort-select{
  padding: 5px 25px;
  border-radius: 10px;
  border: 1px solid #f6f6f6;
  background: #fff;
  color: none;
}
#sort-select option{
  border: none;
}

.view{
  display: flex;
  margin-left: 60%;
}
#view-select{
  margin-left: 2%;
}
.view .grid-menu{
  width: 20px;
  height: 20px;
}
@media screen and (max-width: 280px){
  .sorting-section{
    flex-direction: column;
    height: 60px;
  }
}
@media screen and (max-width:320px){
  .sorting-section{
    flex-direction: column;
    height: 60px;
  }
}
@media screen and (max-width: 768px){
  .sorting-section{
    flex-direction: column;
    height: 60px;
  }
}

.blog-content{
  display: flex;
  width: 100%;
  height: 520px;
  background: #f6f6f6;
  padding: 20px;
}

.blog-card1{
  width: 30%;
  height: 460px;
  background: #fff;
  margin: 20px;
}

.blog-card2{
  width: 30%;
  height: 460px;
  background: #fff;
  margin: 20px;
}
.blog-text{
  padding: 15px;
  width: 100%;
  height: 200px;
}
.blog-text p{
  font-size: 12px;
}
.blog-read{
  text-decoration: none;
  color: brown;
  font-size: 13px;
  transition: 0.5s;
}
.blog-read:hover{
  transition: 0.5s;
  margin-left: 3%;
}

.blog-search{
  width: 30%;
  height: 400px;
  margin: 20px;
}

.blog-card1 .blog-card-image{
  width: 100%;
  height: 250px;
  background: url(../images/picnic\ 3.jpeg);
  background-size: cover;
  background-position: center;
}

.blog-card2 .blog-card-image{
  width: 100%;
  height: 250px;
  background: url(../images/covid\ 19.jpeg);
  background-size: cover;
  background-position: center;
}
.card-text-btn{
  padding: 5px;
  width: 30%;
  height: 40px;
  border: none;
  color: #fff;
  background: #0F403C;
  margin-top: 64%;
}

.search-blog{
  width: 80%;
  height: 30px;
  border-bottom: 1px solid #333;
  margin-left: 10%;
  margin-top: 3%;
}
.blod-search{
  margin: 5px;
  background: transparent;
  border: none;
  outline: none;
}
#blog-glass{
  color: #000000;
  margin-left: 25%;
  font-size: 13px;
}
.blog-search-text{
  width: 100%;
  height: 440px;
  margin-top: 6%;
  padding: 5px;
  transition: .6s;
  cursor: pointer;
}
.blog-search-text span:hover{
  transition: .6s;
  text-decoration: underline;
  color: brown;
}

.cate-hr{
  width: 15%;
  height: 3px;
  border: none;
  background: brown;
}


@media screen and (max-width: 320px){
  .blog-content{
    flex-direction: column;
    height: 1500px;
    justify-content: space-between;
  }
  .blog-card1{
    width: 90%;
    height: 520px;
    background: #fff;
    margin-left: 5%;
    margin: 20px;
  }
  
  .blog-card2{
    width: 90%;
    height: 520px;
    background: #fff;
    margin-left: 5%;
    margin: 20px;
  }
  .blog-text p{
    font-size: 10px;
  }
  .blog-search{
    width: 90%;
    height: 460px;
    margin-left: 5%;
    margin: 20px;
  }
  .card-text-btn{
    width: 50%;
    margin-top: 83%! important;
  }
  
  .search-blog{
    width: 90%;
    margin-left: 5%;
  }
  .blod-search{
    font-size: 10px;
  }
  #blog-glass{
    margin-left: 18%! important;
  }
}

@media screen and (max-width: 768px){
  .blog-content{
    flex-direction: column;
    height: 1500px;
    justify-content: space-between;
  }
  .blog-card1{
    width: 90%;
    height: 520px;
    background: #fff;
    margin-left: 5%;
    margin: 20px;
  }
  
  .blog-card2{
    width: 90%;
    height: 520px;
    background: #fff;
    margin-left: 5%;
    margin: 20px;
  }
  .blog-text p{
    font-size: 10px;
  }
  .blog-search{
    width: 90%;
    height: 460px;
    margin-left: 5%;
    margin: 20px;
  }
  .card-text-btn{
    width: 50%;
    margin-top: 63%;
  }
  
  .search-blog{
    width: 90%;
    margin-left: 5%;
  }
  .blod-search{
    font-size: 13px;
  }
  #blog-glass{
    margin-left: 60%;
  }
}

.blog-card1 .blog-card-image1{
  width: 100%;
  height: 250px;
  background: url(../images/beach\ vacation.jpeg);
  background-size: cover;
  background-position: center;
}

.blog-card2 .blog-card-image2{
  width: 100%;
  height: 250px;
  background: url(../images/summer.jpeg);
  background-size: cover;
  background-position: center;
}

.blog-card1 .blog-card-image5{
  width: 100%;
  height: 250px;
  background: url(../images/health\ and\ wellness\ travel.jpeg);
  background-size: cover;
  background-position: center;
}

.blog-card2 .blog-card-image6{
  width: 100%;
  height: 250px;
  background: url(../images/historical\ and\ cultural\ landmark.jpeg);
  background-size: cover;
  background-position: center;
}


.blog-recent{
  width: 30%;
  height: 460px;
  margin: 20px;
}
.blog-recent-card{
  display: flex;
  width: 90%;
  height: 90px;
  margin: 3px;
}
.blog-recent-card h4:hover{
  transition: .6s;
  text-decoration: underline;
  color: brown;
}
.picnic-image{
  width: 45%;
  height: 90px;
}
.picnic-img{
  width: 100%;
  height: 90px;
}
.picnic-text{
  width: 52%;
  height: 90px;
  padding: 3px;
  margin-left: 2%;
}
@media screen and (max-width:280px){
  .blog-recent{
    width: 100%;
    margin: 2px;
    height: 900px;
  }
}
@media screen and (max-width: 320px){
  .blog-recent{
    width: 100%;
    margin: 2px;
    height: 900px;
  }
}
#comment-icon{
  font-size: 20px;
  color: brown;
}

.special-offer{
  width: 100%;
  height: 250px;
  background: #0F403C;
}
.offer-text{
  width: 90%;
  height: 140px;
  margin-left: 5%;
  padding: 20px;
  text-align: center;
  color: #fff;
}
.offer-text h2{
  margin-top: 3%;
  font-size: 33px;
}
.offer-text p{
  color: #fff;
}

.offer-suscribe{
  display: flex;
  width: 90%;
  height: 100px;
  margin-top: 2%;
  margin-left: 5%;
}
.suscribe{
  padding: 6px;
  width: 40%;
  height: 50px;
  background: #fff;
  margin-left: 23%;
}
.suscribe-input{
  width: 94%;
  height: 40px;
  border: none;
  outline: none;
}
#suscribe-envlope{
  color: #939393;
}
.suscribe-btn{
  width: 10%;
  height: 50px;
  border: none;
  margin-left: 1%;
  align-items: center;
  justify-content: center;
  transition: .6s;
  cursor: pointer;
}
.suscribe-btn:hover{
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition: .6s;
}



@media screen and (max-width: 280px){
  .special-offer{
    height: 200px;
  }
  .offer-text{
    width:100%;
    margin-left: 0%;
    padding: 10px;
  }
  .offer-text h2{
    margin-top: 3%;
    font-size: 16px;
  }
  
  .offer-suscribe{
    display: flex;
    width: 100%;
    height: 50px;
    margin-left: 0%;

  }
  .suscribe{
    padding: 0px;
    width: 60%;
    height: 40px;
    background: #fff;
    margin-left: 2%;
  }
  .suscribe-input{
    width: 80%;
  }
  .suscribe-btn{
    width: 30%;
    height: 40px;
  }
}

@media screen and (max-width: 320px){
  .special-offer{
    height: 200px;
  }
  .offer-text{
    width:100%;
    margin-left: 0%;
    padding: 10px;
  }
  .offer-text h2{
    margin-top: 3%;
    font-size: 16px;
  }
  
  .offer-suscribe{
    display: flex;
    width: 100%;
    height: 50px;
    margin-left: 0%;

  }
  .suscribe{
    padding: 0px;
    width: 60%;
    height: 40px;
    background: #fff;
    margin-left: 2%;
  }
  .suscribe-input{
    width: 80%;
  }
  .suscribe-btn{
    width: 30%;
    height: 40px;
  }
}

@media screen and (max-width: 768px){
  .special-offer{
    height: 200px;
  }
  .offer-text{
    width:100%;
    margin-left: 0%;
    padding: 10px;
  }
  .offer-text h2{
    margin-top: 3%;
    font-size: 16px;
  }
  
  .offer-suscribe{
    display: flex;
    width: 100%;
    height: 50px;
    margin-left: 0%;

  }
  .suscribe{
    padding: 0px;
    width: 60%;
    height: 40px;
    background: #fff;
    margin-left: 2%;
  }
  .suscribe-input{
    width: 80%;
  }
  .suscribe-btn{
    width: 30%;
    height: 40px;
  }
}